/**
 * Table of Contents:
 *
 * 1.0 - Reset
 * 2.0 - Repeatable patterns
 * 3.0 - Basic structure
 * 4.0 - body > #header
 * 5.0 - #content
 * 6.0 - body > #footer
 * 7.0 - Media queries
 *		7.1 - Styles for iPhone landscape and up
 *		7.2 - Styles for extra small devices only
 *		7.3 - Styles for small, medium, and large devices
 *		7.4 - Styles for small devices only
 *		7.5 - Styles for extra small and small devices
 *		7.6	- Styles for medium and large devices
 *		7.7 - Styles for large devices only
 * ----------------------------------------------------------------------------
 */


/*
Primary:
Pantone 541 C	#003c71


Secondary:
Pantone 225 C	#df1995
Pantone 7551 C	#b47e00


Monochromatic:
Pantone 541 C	#003c71
Pantone 7688 C	#4698cb
Pantone 278 C	#8bb8e8


Pantone Warm Gray 1 C	#d7d2cb
Pantone Warm Gray 2 C	#cbc4bc
Pantone Warm Gray 3 C	#bfb8af
Pantone Warm Gray 4 C	#b6ada5
Pantone Warm Gray 5 C	#aca39a
Pantone Warm Gray 6 C	#a59c94
Pantone Warm Gray 7 C	#968c83
Pantone Warm Gray 8 C	#8c8279
Pantone Warm Gray 9 C	#83786f
Pantone Warm Gray 10 C	#796e65
Pantone Warm Gray 11 C	#6e6259


Pantone Cool Gray 1 C	#d9d9d6
Pantone Cool Gray 2 C	#d0d0ce
Pantone Cool Gray 3 C	#c8c9c7
Pantone Cool Gray 4 C	#bbbcbc
Pantone Cool Gray 5 C	#b1b3b3
Pantone Cool Gray 6 C	#a7a8aa
Pantone Cool Gray 7 C	#97999b
Pantone Cool Gray 8 C	#888b8d
Pantone Cool Gray 9 C	#75787b
Pantone Cool Gray 10 C	#63666a
Pantone Cool Gray 11 C	#53565a


Pantone Black 7 C	#3d3935
*/















/**
 * 1.0 Reset
 * ----------------------------------------------------------------------------
 */
* {
	text-shadow: none;
}















/**
 * 2.0 Basic structure
 * ----------------------------------------------------------------------------
 */
* {
	color: #6e6259;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
body {
	background: #fff;
}
h1 {
	font-size: 1.6em;
	font-weight: 300;
	line-height: 1.3em;
	margin: 0em 0em 1em 0em;
}
h3 {
	color: #3d3935;
	font-size: 2em;
	font-weight: 300;
	margin-top: 0px;
	margin-bottom: 0.3em;
}
h4 {
	color: #3d3935;
	font-size: 0.9em;
	font-weight: 400;
	letter-spacing: 0.2em;
	margin-top: 1.2em;
	margin-bottom: 1.1em;
	text-transform: uppercase;
}
a {
	color: #8bb8e8;
}
a:hover {
	color: #df1995;
}















/**
 * 3.0 Repeatable patterns
 * ----------------------------------------------------------------------------
 */
.container {
	width: 92%;
}
strong {
	color: #df1995;
	font-weight: 600;
}
.hover-animation {
	-webkit-transition: 0.4s linear all;
	-moz-transition: 0.4s linear all;
	-o-transition: 0.4s linear all;
	transition: 0.4s linear all;
}
.fade-animation.ng-enter,
.fade-animation.ng-leave {
	-webkit-transition: 0.5s linear all;
	-moz-transition: 0.5s linear all;
	-o-transition: 0.5s linear all;
	transition: 0.5s linear all;
}
.fade-animation.ng-enter,
.fade-animation.ng-leave.ng-leave-active {
	opacity: 0;
}
.fade-animation.ng-leave,
.fade-animation.ng-enter.ng-leave-active {
	opacity: 1;
}















/**
 * 4.0 body > #header
 * ----------------------------------------------------------------------------
 */
#sticky-header {
	background: url('//cdn.shopify.com/s/files/1/0161/6452/t/5/assets/003c71-95.png');
	position: fixed;
	text-align: right;
	width: 100%;
	z-index: 99;
}
#promo {

}
#promo p {
	color: #d7d2cb;
	display: inline-block;
	float: left;
	font-size: 0.9em;
	height: 60px;
	margin: 0px auto;
	text-align: center;
	width: 80%;
}
#promo p strong {
	color: #fff;
	letter-spacing: 0.1em;
	font-weight: 700;
}
#cart {
	background: #df1995 url('//cdn.shopify.com/s/files/1/0161/6452/t/5/assets/shopping-bag-icon-ffffff.png') no-repeat;
	background-position: 45% 55%;
	background-size: auto 65%;
	display: inline-block;
	height: 60px;
	text-decoration: none;
	width: 60px;
}
#cart .qty {
	color: #6e6259;
	display: block;
	font-size: 1.1em;
	font-weight: 400;
	letter-spacing: 0em;
	margin: 1.7em 0em 0em 1.52em;
	text-align: center;
	-ms-transform: skew(0deg,-4deg); -webkit-transform: skew(0deg,-4deg); transform: skew(0deg,-4deg);
	width: 1.4em;
}
body > #header {
	padding-top: 60px;
}
body > #header #acct {
	color: #97999b;
	border-bottom: dotted 1px #83786f;
	line-height: 1.3em;
	padding: 1.2em;
	text-align: center;
}
body > #header #acct a {
	font-weight: 700;
}
body > #header .branding {
	margin: 2em 0em 2.4em 0em;
}
body > #header .branding .logo {
	display: block;
	margin: 0px auto;
	max-width: 240px;
	width: 60%;
}
body > #header #topnav {
	display: block;
	text-align: center;
}
body > #header #topnav ul {
	display: inline-block;
	list-style: none;
	margin: 0.6em auto 1.6em auto;
	padding: 0px;
}
body > #header #topnav li {
	display: inline-block;
}
body > #header #topnav li a {
	color: #4698cb;
	font-size: 0.85em;
	font-weight: 300;
	letter-spacing: 0.2em;
	padding: 0.4em 1.6em;
	text-decoration: none;
	text-transform: uppercase;
}
body > #header #topnav li.active a,
body > #header #topnav li a:hover {
	color: #df1995;
}
body > #header #topnav li.active a {
	font-weight: 400;
}















/**
 * 5.0 #content
 * ----------------------------------------------------------------------------
 */
#content {
	min-height: 200px;
}
#content img {
	height: auto;
	width: 100%;
}




body.template-index #content .content-cell {
	height: 200px;
}
body.template-index #content .cell1 {  background: #d9d9d6;  }
body.template-index #content .cell2 {  background: #d0d0ce;  }
body.template-index #content .cell3 {  background: #c8c9c7;  }
body.template-index #content .cell4 {  background: #bbbcbc;  }
body.template-index #content .cell5 {  background: #b1b3b3;  }
body.template-index #content .cell6 {  background: #a7a8aa;  }
body.template-index #content .cell7 {  background: #97999b;  }





body.template-collection #content .product-list {

}
body.template-collection #content .prod-container {
	margin: 0px;
	padding: 0px;
}
div.product-photos {
	-webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none; box-shadow: none;
	padding: 0px;
}
.product-price {
	color: #4698cb;
	font-family: 'Vollkorn', serif;
	font-size: 2.4em;
}
#product-add input[type="submit"] {
	border: none;
	background: #df1995;
	color: #fff;
	display: block;
	font-weight: 600;
	margin-top: 0.8em;
	padding: 1em 2em;
	width: 100%;
}
#product-add input[type="submit"]:hover {
	background: #4698cb;
}
#product-description {
	margin-top: 2em;
}
.product-details ul {
	padding: 0px;
}
.product-details p,
.product-details li {
	color: #888b8d;
	font-family: 'Vollkorn', serif;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.6em;
}
.product-details li {
	margin-left: 1.2em;
}














/**
 * 6.0 body > #footer
 * ----------------------------------------------------------------------------
 */
body > #footer {

}
body > #footer .search {
	text-align: center;
}
body > #footer .search .container {
	border-top: dotted 1px #83786f;
	border-bottom: dotted 1px #83786f;
	display: inline-block;
	margin: 3em auto;
	padding: 2em 0em 3.6em 0em;
}
body > #footer .search input[type=search] {
	font-size: 1.6em;
	font-weight: 300;
	padding: 0.2em;
	width: 50%;
}

body > #footer #social {
	padding-bottom: 3.6em;
	text-align: center;
}
body > #footer #social p {
	font-size: 1em;
	margin-bottom: 1.4em;
}
body > #footer #social ul {
	list-style: none;
	margin: 0px auto;
	padding: 0px;
	width: 85%;
}
body > #footer #social li {
	display: inline-block;
	text-align: center;
	width: 25%;
}
body > #footer #social li img {
	-webkit-border-radius: 50em; -moz-border-radius: 50em; -o-border-radius: 50em; border-radius: 50em;
	height: auto;
	width: 90%;
}
body > #footer #brand-msg {
	background: #f7f7f7;
	padding: 2em;
	text-align: center;
}
body > #footer #brand-msg .logo {
	max-width: 200px;
	width: 60%;
}
body > #footer #brand-msg p {
	color: #83786f;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.7em;
	margin-top: 1.7em;
}
body > #footer #tc {
	background: #f7f7f7;
	text-align: center;
}
body > #footer #tc p {
	color: #a59c94;
	font-size: 0.8em;
	margin-bottom: 0px;
	padding: 3em 0em;
}
















/**
 * 7.1 Styles for iPhone landscape and up
 * ----------------------------------------------------------------------------
 */
@media (min-width: 480px) {
	.container {
		width: 88%;
	}
	#promo p {
		line-height: 60px;
		text-align: right;
		width: 87%;
	}
	body > #footer #brand-msg p {
		font-size: 1.6em;
		line-height: 1.6em;
		margin-top: 1.2em;
	}


	body.template-collection #content .prod-container {
		width: 50%;
	}

	body > #footer #social ul {
		width: 50%;
	}
}















/**
 * 7.2 Styles for extra small devices only
 * ----------------------------------------------------------------------------
 */
@media (max-width: 767px) {

}















/**
 * 7.3 Styles for small devices (tablet) only. Galaxy Tab 4 (600px), iPad (768px)
 * ----------------------------------------------------------------------------
 */
@media (min-width: 600px) and (max-width: 991px) {

}















/**
 * 7.4 Styles for small, medium, and large devices
 * ----------------------------------------------------------------------------
 */
@media (min-width: 768px) {
	.container {
		width: 84.5%;
	}
	#promo p {
		font-size: 1.1em;
		font-weight: 300;
		width: 90%;
	}

	body.template-collection #content .prod-container {
		width: 33.33%;
	}
}















/**
 * 7.5 Styles for extra small and small devices
 * ----------------------------------------------------------------------------
 */
@media (max-width: 991px) {

}















/**
 * 7.6 Styles for medium and large devices
 * ----------------------------------------------------------------------------
 */
@media (min-width: 992px) {
	.container {
		max-width: 1100px;
		min-width: 720px;
		width: 60%;
	}
	h1 {
		font-size: 1.5em;
		font-weight: 300;
		line-height: 1.4em;
		margin: 0em 0em 1em 0em;
	}
	h3 {
		font-size: 2.2em;
		margin-bottom: 0.6em;
	}
	#promo p {
		width: 92%;
	}


	body.template-collection #content .prod-container {

	}


	body > #footer #brand-msg {
		padding-top: 3em;
	}
	body > #footer #brand-msg p {
		font-size: 1.3em;
		line-height: 1.6em;
		margin: 2em auto 0em auto;
		max-width: 600px;
	}
	body > #footer #social ul {
		width: 30%;
	}
}















/**
 * 7.7 Styles for large devices only
 * ----------------------------------------------------------------------------
 */
@media (min-width: 1200px) {
	h1 {
		font-size: 2em;
		font-weight: 300;
		line-height: 1.4em;
		margin: 0em 0em 1em 0em;
	}
	#promo p {
		width: 94%;
	}
}

