/**
 * Table of Contents:
 *
 * 1.0 - Reset
 * 2.0 - Repeatable patterns
 * 3.0 - Basic structure
 * 4.0 - body > #header
 * 5.0 - #content
 * 6.0 - body > #footer
 * 7.0 - Media queries
 *		7.1 - Styles for iPhone landscape and up
 *		7.2 - Styles for extra small devices only
 *		7.3 - Styles for small, medium, and large devices
 *		7.4 - Styles for small devices only
 *		7.5 - Styles for extra small and small devices
 *		7.6	- Styles for medium and large devices
 *		7.7 - Styles for large devices only
 * ----------------------------------------------------------------------------
 */


/*
Primary:
Pantone 541 C	#003c71


Secondary:
Pantone 225 C	#df1995
Pantone 7551 C	#b47e00


Monochromatic:
Pantone 541 C	#003c71
Pantone 7688 C	#4698cb
Pantone 278 C	#8bb8e8


Pantone Warm Gray 1 C	#d7d2cb
Pantone Warm Gray 2 C	#cbc4bc
Pantone Warm Gray 3 C	#bfb8af
Pantone Warm Gray 4 C	#b6ada5
Pantone Warm Gray 5 C	#aca39a
Pantone Warm Gray 6 C	#a59c94
Pantone Warm Gray 7 C	#968c83
Pantone Warm Gray 8 C	#8c8279
Pantone Warm Gray 9 C	#83786f
Pantone Warm Gray 10 C	#796e65
Pantone Warm Gray 11 C	#6e6259


Pantone Cool Gray 1 C	#d9d9d6
Pantone Cool Gray 2 C	#d0d0ce
Pantone Cool Gray 3 C	#c8c9c7
Pantone Cool Gray 4 C	#bbbcbc
Pantone Cool Gray 5 C	#b1b3b3
Pantone Cool Gray 6 C	#a7a8aa
Pantone Cool Gray 7 C	#97999b
Pantone Cool Gray 8 C	#888b8d
Pantone Cool Gray 9 C	#75787b
Pantone Cool Gray 10 C	#63666a
Pantone Cool Gray 11 C	#53565a


Pantone Black 7 C	#3d3935
*/















/**
 * 1.0 Reset
 * ----------------------------------------------------------------------------
 */
* {
	text-shadow: none;
}















/**
 * 2.0 Basic structure
 * ----------------------------------------------------------------------------
 */
* {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
body {
	background: #fff;
}















/**
 * 3.0 Repeatable patterns
 * ----------------------------------------------------------------------------
 */
.container {

}
strong {
	color: #df1995;
	font-weight: 600;
}
.logo {
	display: block;
	margin: 0px auto;
	max-width: 240px;
	width: 60%;
}
.hover-animation {
	-webkit-transition: 0.4s linear all;
	-moz-transition: 0.4s linear all;
	-o-transition: 0.4s linear all;
	transition: 0.4s linear all;
}
.fade-animation.ng-enter,
.fade-animation.ng-leave {
	-webkit-transition: 0.5s linear all;
	-moz-transition: 0.5s linear all;
	-o-transition: 0.5s linear all;
	transition: 0.5s linear all;
}
.fade-animation.ng-enter,
.fade-animation.ng-leave.ng-leave-active {
	opacity: 0;
}
.fade-animation.ng-leave,
.fade-animation.ng-enter.ng-leave-active {
	opacity: 1;
}















/**
 * 4.0 body > #header
 * ----------------------------------------------------------------------------
 */
#sticky-header {
	background: #003c71;
	text-align: right;
}
#promo {

}
#promo p {
	color: #fff;
	display: inline-block;
	float: left;
	font-size: 0.9em;
	height: 60px;
	margin: 0px auto;
	text-align: center;
	width: 80%;
}
#promo p strong {
	color: #8bb8e8;
}
#cart {
	background: #df1995 url('//cdn.shopify.com/s/files/1/0161/6452/t/5/assets/shopping-bag-icon-ffffff.png') no-repeat;
	background-position: 45% 55%;
	background-size: auto 65%;
	display: inline-block;
	height: 60px;
	text-decoration: none;
	width: 60px;
}
#cart .qty {
	color: #6e6259;
	display: block;
	font-size: 1.1em;
	font-weight: 400;
	letter-spacing: 0em;
	margin: 1.7em 0em 0em 1.52em;
	text-align: center;
	-ms-transform: skew(0deg,-4deg); -webkit-transform: skew(0deg,-4deg); transform: skew(0deg,-4deg);
	width: 1.4em;
}
body > #header {
	border: solid 8px #000;
}
body > #header #acct {
	border: solid 1px #f0f;
}
body > #header .branding {
	border: solid 1px #ff0;
}















/**
 * 5.0 #content
 * ----------------------------------------------------------------------------
 */
#content {
	border: solid 6px #000;
	min-height: 200px;
}















/**
 * 6.0 body > #footer
 * ----------------------------------------------------------------------------
 */
body > #footer {
	border: solid 4px #000;
}
body > #footer .search {
	border: solid 1px #f00;
}
body > #footer #brand-msg {
	border: solid 1px #00f;
	padding: 2em;
}
body > #footer #brand-msg p {
	font-size: 1.2em;
	font-weight: 300;
	margin-top: 3em;
	text-align: center;
}
body > #footer #social {
	border: solid 1px #0f0;
	text-align: center;
}
body > #footer #social ul {
	list-style: none;
	margin: 0px auto;
	padding: 0px;
	width: 75%;
}
body > #footer #social li {
	display: inline-block;
	text-align: center;
	width: 25%;
}
body > #footer #social li img {
	-webkit-border-radius: 50em; -moz-border-radius: 50em; -o-border-radius: 50em; border-radius: 50em;
	height: auto;
	width: 90%;
}
body > #footer #tc {
	text-align: center;
}
















/**
 * 7.1 Styles for iPhone landscape and up
 * ----------------------------------------------------------------------------
 */
@media (min-width: 480px) {
	#promo p {
		width: 88%;
	}
	body > #footer #social ul {
		width: 50%;
	}
}















/**
 * 7.2 Styles for extra small devices only
 * ----------------------------------------------------------------------------
 */
@media (max-width: 767px) {

}















/**
 * 7.3 Styles for small devices (tablet) only. Galaxy Tab 4 (600px), iPad (768px)
 * ----------------------------------------------------------------------------
 */
@media (min-width: 600px) and (max-width: 991px) {

}















/**
 * 7.4 Styles for small, medium, and large devices
 * ----------------------------------------------------------------------------
 */
@media (min-width: 768px) {

}















/**
 * 7.5 Styles for extra small and small devices
 * ----------------------------------------------------------------------------
 */
@media (max-width: 991px) {

}















/**
 * 7.6 Styles for medium and large devices
 * ----------------------------------------------------------------------------
 */
@media (min-width: 992px) {

}















/**
 * 7.7 Styles for large devices only
 * ----------------------------------------------------------------------------
 */
@media (min-width: 1200px) {

}

